.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f4f4f4;
}

.dropdown-item {
  color: #555555 !important;
}

.dropdown-item:hover {
  color: black !important;
}

img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}

.active {
  color: #18bc9c !important;
}
